/* Main */
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Nunito';
}

a {
	color: #4e73df;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
}
ul > li{
    list-style: none;
}

input {
	border: 1px solid transparent;
	border-radius: 0.35rem;
	padding: 0.5rem;
	color: grey;
}
input:focus {
	outline: none;
}

button:focus {
	outline: none;
}

#wrapper {
	display: flex;
}

#wrapper #content-wrapper {
	background-color: #f5f5f5;
	width: 100%;
	overflow-x: hidden;
}

#wrapper #content-wrapper #content {
	flex: 1 0 auto;
}

.d-flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}

/* Buttons */
.btn {
	border: 1px solid transparent;
	border-radius: 0.35rem;
	font-size: 1rem;
	padding: 0.5rem 0.65rem;
}

.btn-primary {
	color: white;
	background-color: #6C63FF;
	border-color: #6C63FF;
}
/* Typography */
.text-gray {
	color: #dddfeb;
}

.text-center {
	text-align: center;
}
.text-gray-500 {
	color: #b7b9cc;
	font-weight: 500;
}
.text-gray-600 {
	color: #858796;
	font-weight: 600;
}
.text-white-300 {
	color: white;
	font-weight: 800;
}
.text-white-800 {
	color: white;
	font-weight: 800;
}
.text-white-700 {
	color: white;
	font-weight: 800;
}
.text-s {
	font-size: 0.8rem;
}
.text-m {
	font-size: 1.6rem;
}
.text-gray-800 {
	color: #5a5c69;
	font-weight: 800;
}
.small {
	font-size: 80%;
}
.text-primary-600{
	color: #6C63FF;
	font-weight: 600;
}
/* Error */

.error {
	font-size: 7rem;
	color: #5a5c69;
	position: relative;
	display: inline-block;
}
@keyframes noise-anim {
	0% {
		clip: rect(32px, 9999px, 16px, 0);
	}
	5% {
		clip: rect(5px, 9999px, 24px, 0);
	}
	10% {
		clip: rect(77px, 9999px, 87px, 0);
	}
	15% {
		clip: rect(91px, 9999px, 95px, 0);
	}
	20% {
		clip: rect(74px, 9999px, 9px, 0);
	}
	25% {
		clip: rect(37px, 9999px, 32px, 0);
	}
	30% {
		clip: rect(56px, 9999px, 27px, 0);
	}
	35% {
		clip: rect(35px, 9999px, 33px, 0);
	}
	40% {
		clip: rect(89px, 9999px, 6px, 0);
	}
	45% {
		clip: rect(81px, 9999px, 77px, 0);
	}
	50% {
		clip: rect(64px, 9999px, 69px, 0);
	}
	55% {
		clip: rect(12px, 9999px, 11px, 0);
	}
	60% {
		clip: rect(59px, 9999px, 11px, 0);
	}
	65% {
		clip: rect(69px, 9999px, 59px, 0);
	}
	70% {
		clip: rect(74px, 9999px, 65px, 0);
	}
	75% {
		clip: rect(56px, 9999px, 79px, 0);
	}
	80% {
		clip: rect(80px, 9999px, 64px, 0);
	}
	85% {
		clip: rect(87px, 9999px, 29px, 0);
	}
	90% {
		clip: rect(16px, 9999px, 21px, 0);
	}
	95% {
		clip: rect(69px, 9999px, 43px, 0);
	}
	100% {
		clip: rect(75px, 9999px, 63px, 0);
	}
}

.error::after {
	content: attr(data-code);
	position: absolute;
	top: 0;
	left: 2px;
	clip: rect(0, 900px, 0, 0);
	background: #f8f9fc;
	text-shadow: -1px 0 #e74a3b;
	animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
	0% {
		clip: rect(12px, 9999px, 52px, 0);
	}
	5% {
		clip: rect(42px, 9999px, 39px, 0);
	}
	10% {
		clip: rect(64px, 9999px, 36px, 0);
	}
	15% {
		clip: rect(52px, 9999px, 15px, 0);
	}
	20% {
		clip: rect(79px, 9999px, 7px, 0);
	}
	25% {
		clip: rect(17px, 9999px, 41px, 0);
	}
	30% {
		clip: rect(15px, 9999px, 20px, 0);
	}
	35% {
		clip: rect(62px, 9999px, 87px, 0);
	}
	40% {
		clip: rect(94px, 9999px, 11px, 0);
	}
	45% {
		clip: rect(49px, 9999px, 10px, 0);
	}
	50% {
		clip: rect(82px, 9999px, 4px, 0);
	}
	55% {
		clip: rect(70px, 9999px, 100px, 0);
	}
	60% {
		clip: rect(62px, 9999px, 23px, 0);
	}
	65% {
		clip: rect(51px, 9999px, 56px, 0);
	}
	70% {
		clip: rect(41px, 9999px, 24px, 0);
	}
	75% {
		clip: rect(6px, 9999px, 85px, 0);
	}
	80% {
		clip: rect(96px, 9999px, 58px, 0);
	}
	85% {
		clip: rect(16px, 9999px, 24px, 0);
	}
	90% {
		clip: rect(40px, 9999px, 31px, 0);
	}
	95% {
		clip: rect(91px, 9999px, 34px, 0);
	}
	100% {
		clip: rect(87px, 9999px, 26px, 0);
	}
}
.error::before {
	content: attr(data-code);
	position: absolute;
	top: 0;
	left: -2px;
	clip: rect(0, 900px, 0, 0);
	background: #f8f9fc;
	text-shadow: -1px 0 #4e73df;
	animation: noise-anim-2 3s infinite linear alternate-reverse;
}

/* Sidebar */
.sidebar {
	background-color: #6C63FF;
	min-height: 100vh;
}
.sidebar__brand {
	color: #ffffff;
	font-weight: 800;
	font-size: 1rem;
	text-align: center;
	height: 4rem;
	align-items: center;
	justify-content: center;
	display: flex;
}
.sidebar__heading {
	text-transform: uppercase;
	font-size: 0.65rem;
	font-weight: 800;
	color: rgba(255, 255, 255, 0.4);
	padding: 0 1rem;
}
.sidebar hr {
	border: 0.5px solid rgba(255, 255, 255, 0.1);
	margin: 0 1rem 1rem;
}
.sidebar__toggler {
	height: 2.5rem;
	width: 2.5rem;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
	color: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	border-color: transparent;
}
.sidebar__toggler:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

/* Nav */
.nav {
	list-style: none;
}
.nav__item {
	font-size: 0.9rem;
	padding: 1rem;
}
.nav__link {
	color: rgba(255, 255, 255, 0.8);
}
.nav__link:hover,
.nav__link:hover i {
	color: #fff;
}
.nav__link i {
	color: rgba(255, 255, 255, 0.2);
	margin-right: 0.25rem;
}

/* Top-panel */

.input-group {
	display: flex;
}
.input-group__search {
	font-size: 1rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input-group__append > .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.navbar {
	display: flex;
	height: 4rem;
	padding: 0 2rem;
	align-items: center;
}
.navbar__collection {
	margin-left: auto;
	display: flex;
	align-items: center;
}
.navbar__collection .nav__item:last-child {
	padding-left: 0;
}
.navbar .nav__item {
	padding: 0 0.75rem;
	font-size: 1rem;
	position: relative;
}
.navbar .nav__item::after {
	content: attr(data-notifications);
	background-color: #e74a3b;
	color: #fff;
	font-size: 0.6rem;
	padding: 0.1rem 0.15rem;
	border-radius: 0.25rem;
	position: absolute;
	top: -0.25rem;
	right: 0.3rem;
}
.navbar .nav__item:not([data-notifications])::after {
	display: none;
}
.nav__separator {
	width: 0;
	border-right: 1px solid #e3e6f0;
	height: 2rem;
}
.nav__image {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	display: block;
}

.shadow {
	box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.15);
}
/* Colors */
.bg-white {
	background-color: #fff;
}
.bg-light {
	background-color: #f8f9fc;
}
/* Margins */
.mb-1 {
	margin-bottom: 1rem;
}

/* Responsive */
@media (min-width: 768px) {
	.sidebar {
		width: 14rem;
	}
}
.container-fluid {
	width: 100%;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}
.row {
	display: flex;
	align-items: center;
}
.col-3 {
	width: 25%;
}
.col-6{
	width: 50%;
}
.col-8{
	width: 66.666%;
}
.col-3, .col-6, .col-8{
	padding: 0 0.5rem;
}
.col {
	flex-basis: 0;
	flex-grow: 1;
}
.col-auto {
	flex: 0 0 auto;
}
.card {
	border-radius: 5px;
	background-color: #fff;
}
.card__body {
	flex: 1 1 auto;
}
.card__body_s{
	padding: 1.5rem;
}
.card__body_m{
	padding: 2rem;
}
.card__body_l{
	padding: 3rem;
}
.card__title {
	text-transform: uppercase;
	color: #fff;
}
.card__header{
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #6C63FF;
}
.primary {
	background-image: linear-gradient(90deg, #ad59ff, #7659ff);
	box-shadow: 0 3px 0 0 #7e4ddb, 0 2px 8px 0 #9259ff, 0 4px 10px 0 rgba(33, 7, 77, 0.5);
}
.success {
	background-image: linear-gradient(90deg, #00d9bf, #00d977);
	box-shadow: 0 3px 0 0 #00bb85, 0 2px 8px 0 #00d99b, 0 4px 10px 0 rgba(33, 7, 77, 0.5);
}
.warning {
	background-image: linear-gradient(90deg, #fc0, #ffa100);
	box-shadow: 0 3px 0 0 #db9d00, 0 2px 8px 0 #ffb600, 0 4px 10px 0 rgba(33, 7, 77, 0.5);
}
.info {
	background-image: linear-gradient(90deg, #00b3ff, #08f);
	box-shadow: 0 3px 0 0 #0087db, 0 2px 8px 0 #009dff, 0 4px 10px 0 rgba(33, 7, 77, 0.5);
}
